.video-contenedor{
    width: 1242px;
    height: 565px;
    padding: 24px;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 296px);
    grid-gap: 16px;
    grid-row-gap: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.video-contenedor::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
    
}

.video-contenedor::-webkit-scrollbar-thumb{
    display: flex;
    background: #707170;
    border-radius: 5px;
    visibility: visible;
}

.video-contenedor::-webkit-scrollbar-track{
    border-radius: 0;
    margin-block-start: 6px;
}

.video-contenido{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 295.99;
    height: 260.49;
}

.video-imagen{
    display: flex;
    min-width: 295.99px;
    min-height: 166.08px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -1px;
    justify-content: flex-end;
    align-items: flex-end;
}

.time{
    display: flex;
    background-color: #000000cc;
    height: 18px;
    width: 40.23;
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 3px;
    justify-content: center;
}

.texto-time{
    color: white;
    font-size: 12px;
    font-family:'Roboto', Arial, sans-serif;
    font-weight: lighter;
    font-weight: bolder;
    align-self: center;
    margin-bottom: 2px;

}

.perfilimagen{
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50px;
    margin-top: 12px;
    margin-right: 12px;
}

.footer-videos{
    display: flex;
    flex-direction: row;
}

.footer-texto{
    display:flex;
    flex-direction: column;
}

.titulo-video{
    width: 223.99;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0px 0px 0px;
    font-family:'Roboto', Arial, sans-serif;
}

.creador-contenido{
    color: #AAAAAA;
    height: 13.6;
    font-size: 12px;
    font-weight: 500;
    margin: 9px 0px 0px 0px;
    font-family:'Roboto', Arial, sans-serif;
}

.vistas-contenido{
    color: #AAAAAA;
    font-size: 12px;
    font-weight: 500;
    margin: 4px 0px 0px 0px;
    font-family:'Roboto', Arial, sans-serif;
}

.verificatedimg{
    width: 14px;
    height: 14px;
    background-image: url('../Images/verificated.svg');
    margin: 8.5px 0px 0px 3px;
    filter: invert(68%) sepia(20%) saturate(0%) hue-rotate(258deg) brightness(99%) contrast(84%);

}