.indexs{
    background-color:#181818;
    display:flex;
    width:100vw;
    height:100vh;
    margin:0;
    flex-direction: column;
}

.cuerpo{
    display: flex;
    margin: 0;
    background-color: #181818;
    flex-direction: row;
    min-height: auto;
    max-height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.videos{
    display: flex;
    margin: 0;
    background-color: #181818;
    flex-direction: column;
    min-height: auto;
    max-height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}